name: Build and Test

on:
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: 'enable ssh debugging'     
        required: false
        default: 'false'
      create_release:
        description: 'create release from last tag'     
        required: false
        default: 'false'
  push:

jobs:
  create_release:
    name: Create release
    runs-on: ubuntu-latest
    outputs:
      tag_name: ${{ steps.previoustag.outputs.tag }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: 'Get Previous tag'
        id: previoustag
        uses: "WyriHaximus/github-action-get-previous-tag@v1"
        with:
          fallback: untagged # Optional fallback tag to use when no tag can be found
      - name: Create release
        if: github.event.inputs.create_release == 'true'
        id: create_release
        run: |
          gh release create ${{ steps.previoustag.outputs.tag }} \
            --draft \
            --title "${{ steps.previoustag.outputs.tag }}" \
            --notes "Release ${{ steps.previoustag.outputs.tag }}"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build_release:
    name: Build release
    needs: create_release
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            artifact_path: bin/PlaybookCreator
            artifact_name: PlaybookCreator
          - os: macos-latest
            artifact_path: bin/PlaybookCreator.dmg
            artifact_name: PlaybookCreator.dmg
          - os: windows-2025
            artifact_path: bin/PlaybookCreatorSetup.exe
            artifact_name: PlaybookCreatorSetup.exe
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install Linux dependencies
        if: matrix.os == 'ubuntu-24.04'
        run: sudo apt-get update && sudo apt-get install -y build-essential pkg-config curl git cmake libbotan-2-dev qtbase5-dev qttools5-dev-tools qttools5-dev libssl-dev

      - name: Install macOS dependencies
        if: matrix.os == 'macOS-latest'
        run: |
          brew list git &>/dev/null || brew install git
          brew list cmake &>/dev/null || brew install cmake
          brew list pkg-config &>/dev/null || brew install pkg-config
          brew list qt@5 &>/dev/null || brew install qt@5
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y

      - name: Install Qt
        if: matrix.os == 'windows-2025'
        uses: jurplel/install-qt-action@v4
        with:
          version: '5.15.2'
          host: 'windows'
          target: 'desktop'
          arch: 'win64_msvc2019_64'
          cache: true

      - name: Clone vcpkg for boost 1.78
        if: matrix.os == 'windows-2025'
        run: |
          git clone https://github.com/microsoft/vcpkg.git
          cd vcpkg
          git checkout b86c0c35b88e2bf3557ff49dc831689c2f085090
          .\bootstrap-vcpkg.bat

      - name: Cache vcpkg
        if: matrix.os == 'windows-2025'
        uses: actions/cache@v4
        with:
          path: |
            vcpkg/installed
            vcpkg/buildtrees
            vcpkg/downloads
          key: windows-vcpkg-boost-1.78-static

      - name: Install Boost 1.78
        if: matrix.os == 'windows-2025'
        run: |
          .\vcpkg\vcpkg install boost-serialization:x64-windows-static boost-geometry:x64-windows-static boost-filesystem:x64-windows-static boost-test:x64-windows-static
        
      - name: Cache Boost on MacOS and Linux
        if: (matrix.os == 'macOS-latest' || matrix.os == 'ubuntu-24.04')
        id: cache_boost
        uses: actions/cache@v4
        with:
          path: |
            ./boost/
          key: ${{ matrix.os }}-cache_boost_key_v02
          
      - name: Build Boost on MacOS and Linux
        if: (matrix.os == 'macOS-latest' || matrix.os == 'ubuntu-24.04') && steps.cache_boost.outputs.cache-hit != 'true'
        run: |
          mkdir boost
          curl -O -L https://archives.boost.io/release/1.78.0/source/boost_1_78_0.tar.gz
          tar -xzf boost_1_78_0.tar.gz
          cd boost_1_78_0
          ./bootstrap.sh --with-libraries=serialization,filesystem,test --prefix=../boost
          ./b2 install link=static runtime-link=static toolset=clang cflags=-fPIC cxxflags=-fPIC
          cd ..


      - name: Cache Botan
        id: cache-botan
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/botan
          key: ${{ matrix.os }}-cache_botan_key_v01
          
      - name: Build Botan on MacOS
        if: (matrix.os == 'macOS-latest') && steps.cache-botan.outputs.cache-hit != 'true'
        run: |
          bash ci-scripts/build-botan.sh
          ls botan/
      
      - uses: ilammy/msvc-dev-cmd@v1
        if: matrix.os == 'windows-2025'

      - name: Build Botan on Windows
        if: matrix.os == 'windows-2025' && steps.cache-botan.outputs.cache-hit != 'true'
        run: |
          git clone https://github.com/randombit/botan botan 
          cd botan 
          git checkout 2.6.0 
          python configure.py --disable-shared-library --msvc-runtime=MT --cxxflags="/O2 /Oi /D_ENABLE_EXTENDED_ALIGNED_STORAGE" --link-method=copy 
          nmake
        shell: cmd

      - name: Build PBC on MacOS
        if: matrix.os == 'macOS-latest'
        run: |
          cmake . -DBoost_INCLUDE_DIR=$(pwd)/boost/include -DBoost_LIBRARY_DIR=$(pwd)/boost/lib -DBOTAN_LIBRARY=botan/libbotan-2.a -DBOTAN_INCLUDE_DIR=botan/build/include -DCMAKE_PREFIX_PATH=$(brew --prefix qt@5)
          make
          
      - name: Build PBC on Linux
        if: matrix.os == 'ubuntu-24.04'
        run: |
          cmake -DBoost_INCLUDE_DIR=$(pwd)/boost/include -DBoost_LIBRARY_DIR=$(pwd)/boost/lib .
          make

      - name: Build PBC on Windows
        if: matrix.os == 'windows-2025'
        run: |
          cmake -G "Visual Studio 17 2022" -A x64 -D CMAKE_TOOLCHAIN_FILE=D:\a\playbook-creator\playbook-creator\vcpkg\scripts\buildsystems\vcpkg.cmake -DVCPKG_TARGET_TRIPLET=x64-windows-static Qt5Widgets_DIR=%Qt5_DIR%\..\Qt5Widgets -D Qt5PrintSupport_DIR=%Qt5_DIR%\..\Qt5PrintSupport -D BOTAN_LIBRARY=${{ github.workspace }}\botan\botan.lib -D BOTAN_INCLUDE_DIR=${{ github.workspace }}\botan\build\include .
          cmake --build . --config Release --parallel
        shell: cmd

      - name: Test on Linux and MacOS
        if: matrix.os == 'macOS-latest' || matrix.os == 'ubuntu-24.04'
        run: |
          ASAN_OPTIONS=detect_leaks=0 bin/tests -- --test-base-dir "test"

      - name: Test on Windows
        if: matrix.os == 'windows-2025'
        run: |
          bin\Release\tests.exe -- --test-base-dir "test"
  
      - name: CreateArtifact on MacOS
        if: matrix.os == 'macOS-latest'
        run: |
          $(brew --prefix qt@5)/bin/macdeployqt bin/PlaybookCreator.app -verbose=3 -dmg -no-strip

      - name: Create Artifact on Windows
        if: matrix.os == 'windows-2025'
        run: |
          windeployqt.exe --release --compiler-runtime "${{ github.workspace }}\bin\Release"
          "C:\Program Files (x86)\Inno Setup 6\ISCC.exe" innosetup.iss
        shell: cmd

      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled == 'true' }}
        timeout-minutes: 120
        with:
          limit-access-to-actor: true

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: ${{ matrix.artifact_path }}

      - name: Upload Release Assets
        if: github.event.inputs.create_release == 'true'
        run: |
          gh release upload ${{ needs.create_release.outputs.tag_name }} \
            ${{ matrix.artifact_path }}#${{ matrix.artifact_name }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
